# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.

In [6]:
import sqlite3
def create_db():
    conn =sqlite3.connect("test.db")
    conn.close()
    print("Database 'test.db' created successfully.")
create_db()

Database 'test.db' created successfully.

2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [7]:
def create_employees_table():
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS employees(
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    department TEXT
    )
    ''')
    conn.commit()
    conn.close()
    print("Table 'employees' created successfully.")
create_employees_table()

Table 'employees' created successfully.

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.

In [8]:
def insert_employees():
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()
    cursor.execute('''
    INSERT INTO employees(name, age, department)
    VALUES('Adeel', 28, 'Sales')
    ''')
    conn.commit()
    conn.close()
    print("New Employee records inserted successfully.")
insert_employees()

New Employee records inserted successfully.

2. Insert at least 5 different employees into the `employees` table.

In [9]:
new_employees = [
    ('Ali', 30, 'Marketing' ),
    ('Aqib', 25, 'Finance'),
    ('Khalid', 35, 'Sales'),
    ('Saqib', 33, 'Finance'),
    ('Riaz', 27, 'Marketing')
]
def insert_multiple_employees(new_records):
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()
    cursor.executemany('''
    INSERT INTO employees(name, age, department)
    VALUES(?,?,?)
    ''', new_records)
    conn.commit()
    conn.close()
    print("New multiple employees records inserted successfuly")
insert_multiple_employees(new_employees)

New multiple employees records inserted successfuly

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.

In [10]:
def fetch_all_records():
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()
    cursor.execute('''
    SELECT * FROM employees;
    ''')
    rows = cursor.fetchall()
    for row in rows:
        print(row)
    conn.close()
fetch_all_records()

(1, 'Adeel', 28, 'Sales')
(2, 'Ali', 30, 'Marketing')
(3, 'Aqib', 25, 'Finance')
(4, 'Khalid', 35, 'Sales')
(5, 'Saqib', 33, 'Finance')
(6, 'Riaz', 27, 'Marketing')

2. Write a Python function to fetch and display all employees from a specific department.

In [12]:
def fetch_employees_from_department(dep):
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()
    cursor.execute(f'''
    SELECT * FROM employees where department = '{dep}'
    ''')
    rows = cursor.fetchall()
    for row in rows:
        print(row)
    conn.close()
fetch_employees_from_department('Sales')

(1, 'Adeel', 28, 'Sales')
(4, 'Khalid', 35, 'Sales')

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.

In [15]:
def update_employee(id,new_dep):
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()
    cursor.execute(f'''
    UPDATE employees
    SET department = '{new_dep}'
    WHERE id = {id}
    ''')
    print(f'Employee with id: {id} is updated successfully')
    conn.commit()
    conn.close()
update_employee(1, 'Marketing')
fetch_all_records()

Employee with id: 1 is updated successfully
(1, 'Adeel', 28, 'Marketing')
(2, 'Ali', 30, 'Marketing')
(3, 'Aqib', 25, 'Finance')
(4, 'Khalid', 35, 'Sales')
(5, 'Saqib', 33, 'Finance')
(6, 'Riaz', 27, 'Marketing')

2. Update the department of at least 2 employees and display the updated records.

In [16]:
update_employee(2, 'Sales')
update_employee(3, 'Sales')
fetch_all_records()

Employee with id: 2 is updated successfully
Employee with id: 3 is updated successfully
(1, 'Adeel', 28, 'Marketing')
(2, 'Ali', 30, 'Sales')
(3, 'Aqib', 25, 'Sales')
(4, 'Khalid', 35, 'Sales')
(5, 'Saqib', 33, 'Finance')
(6, 'Riaz', 27, 'Marketing')

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.

In [17]:
def delete_employee(emp_id):
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()
    cursor.execute(f'''
    DELETE FROM employees
    WHERE id = {emp_id}
    ''')
    print("Employee with id:", emp_id, "deleted successfully")
    conn.commit()
    conn.close()
delete_employee(6)

Employee with id: 6 deleted successfully

2. Delete at least 1 employee and display the remaining records.

In [19]:
delete_employee(5)
fetch_all_records()

Employee with id: 5 deleted successfully
(1, 'Adeel', 28, 'Marketing')
(2, 'Ali', 30, 'Sales')
(3, 'Aqib', 25, 'Sales')
(4, 'Khalid', 35, 'Sales')

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.

In [20]:
def fetch_employees_older_than_given_age(age):
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()
    cursor.execute(f'''
    SELECT * FROM employees WHERE age > {age}
    ''')
    rows = cursor.fetchall()
    for row in rows:
        print(row)
    conn.close()
fetch_employees_older_than_given_age(29)

(2, 'Ali', 30, 'Sales')
(4, 'Khalid', 35, 'Sales')

2. Write a Python function to fetch and display employees whose names start with a specific letter.

In [21]:
def employees_with_specific_letter(letter):
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()
    cursor.execute(f'''
    SELECT * FROM employees
    WHERE name LIKE '{letter}%'
    ''')
    rows = cursor.fetchall()
    for row in rows:
        print(row)
    conn.close()
employees_with_specific_letter('A')

(1, 'Adeel', 28, 'Marketing')
(2, 'Ali', 30, 'Sales')
(3, 'Aqib', 25, 'Sales')

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.

In [30]:
def insert_multiple_employees_transactions(records):
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()
    try:
        cursor.executemany(f'''
        INSERT INTO employees(id, name, age, department)
        VALUES(?,?,?,?)
        ''', records)
        conn.commit()
        print("New Records added successfully")
    except Exception as e:
        print("Error occured, Transaction is rolled back")
        conn.rollback()
        print(e)
    finally:
        conn.close()
employees = [
    (5, 'Frank', 40, 'Finance'),
    (6, 'Grace', 29, 'Engineering'),
    (7, 'Hannah', 35, 'Marketing'),
    (8, 'Ivan', 38, 'Sales'),
    (9, 'Jack', 45, 'HR')  # Duplicate ID to cause an error
]
insert_multiple_employees_transactions(employees)

Error occured, Transaction is rolled back
UNIQUE constraint failed: employees.id

In [31]:
fetch_all_records()

(1, 'Adeel', 28, 'Marketing')
(2, 'Ali', 30, 'Sales')
(3, 'Aqib', 25, 'Sales')
(4, 'Khalid', 35, 'Sales')
(5, 'Frank', 40, 'Finance')
(6, 'Grace', 29, 'Engineering')
(7, 'Hannah', 35, 'Marketing')
(8, 'Ivan', 38, 'Sales')
(9, 'Jack', 45, 'HR')

2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

In [33]:
def update_employee_ages(new_ages):
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()
    try:
        cursor.executemany(f'''
        UPDATE Employees
        SET age = ?
        WHERE id = ?
        ''', new_ages)
        conn.commit()
        print("Employees ages updated successfully")
    except Exception as e:
        print("Error occured, Transaction rolled back")
        conn.rollback()
        print(e)
    finally:
        conn.close()
new_employees_ages = [
    (29, 1),
    (31, 2),
    (26, 3),
    (36, 4),
    (41, 5),
    (39, 6)
]
update_employee_ages(new_employees_ages)
fetch_all_records()

Employees ages updated successfully
(1, 'Adeel', 29, 'Marketing')
(2, 'Ali', 31, 'Sales')
(3, 'Aqib', 26, 'Sales')
(4, 'Khalid', 36, 'Sales')
(5, 'Frank', 41, 'Finance')
(6, 'Grace', 39, 'Engineering')
(7, 'Hannah', 35, 'Marketing')
(8, 'Ivan', 38, 'Sales')
(9, 'Jack', 45, 'HR')

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).

In [35]:
def create_departments():
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS departments(
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL
    )
    ''')
    conn.commit()
    conn.close()
    print("Table 'departments' created successfully")
create_departments()

Table 'departments' created successfully

2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.

In [40]:
def add_department_foreign_key():
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()
    cursor.execute('''
    PRAGMA foregin_keys=off;''')
    cursor.execute("BEGIN TRANSACTION;")
    cursor.execute("ALTER TABLE employees RENAME TO old_employees;")
    cursor.execute(f'''
    CREATE TABLE employees(
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    department TEXT,
    department_id INTEGER,
    FOREIGN KEY(department_id) REFERENCES departments(id)
    );''')
    cursor.execute('''
    INSERT INTO employees(id, name, age, department)
    SELECT id, name, age, department
    FROM old_employees;
    ''')
    cursor.execute('DROP TABLE old_employees;')
    cursor.execute('COMMIT;')
    cursor.execute('PRAGMA foregin_keys=on;')
    conn.commit()
    conn.close()
    print("Table 'employees' modified successfully")
add_department_foreign_key()

Table 'employees' modified successfully

3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

In [46]:
def insert_department_and_employee(department_id, department_name, employee_id, name, age, department):
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()
    try:
        cursor.execute(f'''
        INSERT INTO departments(id, name)
        VALUES (?,?)
        ''', (department_id, department_name))
        cursor.execute(f'''
        INSERT INTO employees(id, name, age, department, department_id)
        VALUES (?, ?, ?, ?, ?)
        ''', (employee_id, name, age, department, department_id))
        conn.commit()
        print(f"Department and employee inserted successfully")
    except Exception as e:
        conn.rollback()
        print("Error occured, Connection rolled back")
        print(e)
    finally:
        conn.close()

insert_department_and_employee(1, 'Finance', 10, 'Zara', 28, 'Finance')

Department and employee inserted successfully

In [47]:
fetch_all_records()

(1, 'Adeel', 29, 'Marketing', None)
(2, 'Ali', 31, 'Sales', None)
(3, 'Aqib', 26, 'Sales', None)
(4, 'Khalid', 36, 'Sales', None)
(5, 'Frank', 41, 'Finance', None)
(6, 'Grace', 39, 'Engineering', None)
(7, 'Hannah', 35, 'Marketing', None)
(8, 'Ivan', 38, 'Sales', None)
(9, 'Jack', 45, 'HR', None)
(10, 'Zara', 28, 'Finance', 1)

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.

In [49]:
def create_index_on_name():
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()
    cursor.execute(f'''
    CREATE INDEX index_name on employees(name);
    ''')
    conn.commit()
    conn.close()
    print("Index on employees name is created successfully")
create_index_on_name()

Index on employees name is created successfully

2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

In [51]:
import time
def fetch_employees_name_starts_with_letter(letter):
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()
    start_time = time.time()
    cursor.execute("SELECT * FROM employees WHERE name LIKE ?", (letter + '%',))
    records = cursor.fetchall()
    end_time = time.time()
    print("Time Taken: {} seconds".format(end_time - start_time))
    for record in records:
        print(record)
fetch_employees_name_starts_with_letter("A")

Time Taken: 0.0006170272827148438 seconds
(1, 'Adeel', 29, 'Marketing', None)
(2, 'Ali', 31, 'Sales', None)
(3, 'Aqib', 26, 'Sales', None)

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.

In [52]:
import shutil
def databse_backup():
    shutil.copy("test.db", "backup.db")
    print("Data base backed up successfully")
databse_backup()

Data base backed up successfully

2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [53]:
def restore_db():
    shutil.copy("backup.db", "test.db")
    print("Database restored successfully")
restore_db()

Database restored successfully